{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="jumbotron">
            <p>Fitxategia bidalia izan da. | El fichero ha sido enviado con éxito.</p>
            <p>Eskerrik asko! | Gracias!</p>
            <p>&nbsp;</p>
            <a href="{{ path('fitxategia_new') }}" class="btn btn-primary">Bidali beste bat | Enviar otro</a>
        </div>
    </div>

{% endblock %}
